@charset "utf-8";

* {
    box-sizing: border-box;
}

html,
body {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    overflow-x: hidden;
    width: 100%;
}

/* fonts */
.m-plus {
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.dotgothic {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.custom-h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 0;
}

.custom-h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 12px 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* style */
body {
    width: 100%;
    height: 100vh;

    background-color: #fcfcfb;
}

/* header */
.header {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #F2F1EB;
}

.header-menu
{
    list-style: none;
    display: flex;
}

.header-menu li {
    margin: 0 20px;
}

.now-page {
    border-bottom: #65735C 2px solid;
    display: block;
    color: #808080;
}

.logo {
    width: auto;
    height: 75px;
}

.character {
    width: 500px;
    height: auto;

    position: absolute;
    top: 0;
    left: calc(50% - 275px);
    z-index: -10;
}

/* 待機モーション */
.idle {
    animation: idle 2s infinite;
}

/* 話す時のアニメーションを追加 */
@keyframes bobbing {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

.talking {
    animation: bobbing 0.1s infinite;
}

/* container */

.container {
    width: 1000px;
    height: calc(100% - 75px);
    margin: 0 auto;
    position: relative;

}

/* ここまでcontainer */


/* ここからログ */

#chat-log {
    width: 100%;
    height: calc(100vh - 75px - 250px - 20px);
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll;
    scrollbar-width: thin;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

#chat-log::-webkit-scrollbar {
    display: none;
}


.chat-log-header {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.log-list {
    display: flex;
    flex-direction: column;
}


.AI-response {
    display: inline-block;
    max-width: 80%;
    word-break: break-word;
    margin-right: auto;
    padding: 1rem;
    background-color: rgba(186, 191, 176, 0.5);
    margin-top: 1rem;
}

.user-input {
    display: inline-block;
    max-width: 80%;
    word-break: break-word;
    margin-left: auto;
    padding: 1rem;
    background-color: rgba(130, 140, 121, 0.5);
    margin-top: 1rem;
}

/* ここまでログ */

/* ここからフォーム */

.question-form {
    width: 100%;
    height: 245px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.question-section {
    width: 100%;
    height: 85px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;

    background-color: rgba(186, 191, 176, 0.5);
}

.question-section::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 225px;
  border-width: 0 10px 30px 40px;
  border-style: solid;
  border-color: transparent transparent rgba(186, 191, 176, 0.5) transparent;
}

.question-container {
    width: 95%;
    font-size: 21px;
    margin: 0 auto;
}

.answer-section {
    width: 100%;
    height: 143px;
    border: 2px solid #65735C;

    position: absolute;
    bottom: 0;
}

#teachAI-form {
    width: 100%;
    height: 100px;
}

#messageInput {
    display: block;
    width: 95%;
    height: 100px;
    margin: 0 auto;
    font-size: 16px;
    resize: none;
}

.textarea-under {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-button
{
    width: 40px;
    height: 40px;
}

.reGenerate-position {
    position: absolute;
    bottom: -1px;
    right: 40px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.warning {
    color: #808080;
    font-size: 12px;
    margin-left: 10px;
}

/* ここまでフォーム */


/* responsive */
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        height: calc(100% - 60px);
    }

    .header {
        height: 60px;
    }

    .header-menu li {
        margin: 0 10px;
    }

    .logo {
        height: 60px;
    }

    .character {
        width: 300px;
        left: calc(50% - 150px);
    }

    #chat-log {
        height: calc(100vh - 60px - 250px - 20px);
    }

    .question-form {
        height: 200px;
    }

}