@charset "utf-8";

* {
    box-sizing: border-box;
}

html,
body {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    overflow-x: hidden;
    width: 100%;
}

/* fonts */
.m-plus {
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.dotgothic {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.custom-h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 0;
}

.custom-h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 12px 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* style */
body {
    width: 100%;
    height: 100vh;
}

.header {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu
{
    list-style: none;
    display: flex;
}

.header-menu li {
    margin: 0 20px;
}

.logo {
    width: auto;
    height: 75px;
}

.character {
    width: 500px;
    height: auto;

    position: absolute;
    top: 15%;
    left: calc(50% - 250px);
    z-index: -10;
}

/* 待機モーション */
.idle {
    animation: idle 2s infinite;
}

/* 話す時のアニメーションを追加 */
@keyframes bobbing {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

.talking {
    animation: bobbing 0.1s infinite;
}


.container {
    width: 80%;
    height: calc(100vh - 75px);
    margin: 0 auto;
    position: relative;

}

.question-form {
    width: 100%;
    height: 250px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.question-container {
    overflow-y: auto;
}

.form-container {
    display: flex;
    align-items: end;
}

.form-textarea {
    width: 90%;
    height: 100px;
    resize: none;
}

.form-submit {
    cursor: pointer;
}

#chat-log {
    width: 100%;
    height: calc(100vh - 75px - 250px);
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.log-list {
    display: flex;
    flex-direction: column;
}

.AI-response {
    display: inline-block;
    max-width: 80%;
    word-break: break-word;
    margin-right: auto;
    padding: 1rem;
    background-color: rgba(242, 242, 242, 0.5);
    margin-bottom: 1rem;
}

.user-input {
    display: inline-block;
    max-width: 80%;
    word-break: break-word;
    margin-left: auto;
    padding: 1rem;
    background-color: rgba(220, 220, 220, 0.5);;
    margin-bottom: 1rem;
}
