<!-- app/templates/form.html -->

<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>app</title>

  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
  <link rel="stylesheet" href="../static/common.css">
</head>

<body>
  <div class="header">
    <h1 class="m-plus">test.</h1>
  </div>

  <div class="contents">

    <div class="chat">
      <div class="AIquestion">
        <h2 class="m-plus">Question.</h2>
        <p class="m-plus">{{ question }}</p>
      </div>

      <div class="userAnswer">
        <form method="post">
          <input type="hidden" name="question" value="{{ question }}">
          <h2 class="m-plus">Answer.</h2>
          <textarea name="answer" placeholder="あなたの回答を入力してください" rows="4" cols="25"
            class="m-plus">{{ answer or "" }}</textarea>
          <button type="submit" class="m-plus">Submit</button>
        </form>
      </div>

      <div class="AIresponse">

        <h2 class="m-plus">Response.</h2>
        {% if response %}
        <p class="m-plus">{{ response }}</p>
        {% endif %}
      </div>
    </div>

  
    <div class="chatlog">
      <h2 class="m-plus">ChatLog</h2>
      {% for log in chatLogs %}

      <ul class="log">
        <li class="m-plus">Question: {{ log.question }}</li>
        <li class="m-plus">User: {{ log.answer }}</li>
        <li class="m-plus">Response: {{ log.response }}</li>
      </ul>
      {% endfor %}
    </div>

  </div>





</body>

</html>